@import "_variables.scss";

.btn, 
.btn:link, 
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: (color(sea));
    margin: 1rem auto;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;
    color: (color(gold));
}


.btn-1:hover{
    transform: scale(0.5);
}

.btn-2:hover{
    transform: scale(1.5);
}

